%h1= t "services.title"

- services_list =  ["imagen_corporativa:congresos", "elaboracion_listados:congresos", "confirmacion_asistentes:congresos", "mailing:congresos", "secretaria_tecnica:congresos", "protocolo_evento:congresos", "azafatas_congresos_imagen:congresos", "medios_audiovisuales:congresos", "gabinete_prensa:congresos", "transfers:congresos", "montaje_stands:congresos", "traductores:congresos", "viajes_alojamiento:viajes", "reservas_transportes:viajes", "reservas_hoteles:viajes", "coches:viajes", "tarifas_especiales:viajes", "personal_acompañamiento:viajes", "viajes_incentivos:viajes", "delegaciones_comerciales:viajes", "entrega_tarjetas_embarque:viajes", "tarjetas_fidelizacion:viajes", "excursiones_galicia:viajes", "visitas_guiadas:viajes", "viajes_organizados:viajes"]

#services_container.big_panel
  %ul#categories_tabs.categories_tabs
    %li.category
      %a{:href => "#", :data => {'item-family' => "congresos"}} congresos       
    %li.category
      %a{:href => "#", :data => {'item-family' => "viajes"}} viajes

  %ul#services_list.left_panel
    - services_list.each do |service|
      =service_link service

  %service_details_container.right_panel
    - services_list.each do |service|
      =service_details_panel service
