/*
Document   : 9_9_mosaic.css
Created on : Feb 4, 2012, 3:45:13 PM
Author     : eneko
Description:
Purpose of the stylesheet follows.
*/

/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
@import "compass/css3.scss";

ul.nine_nine_mosaic {
    $panels_height: 150px;
    $ninesixty_columns: 12;
    height: $panels_height * 3 + 120px;
    @include clearfix;
    @include grid(12);
    margin: {bottom: 10px;}
    li {
        //margin: {top: 10px; bottom: 10px}
        @include grid(4,12);
        &:first-child, &:nth-child(4), &:nth-child(7), * { @include alpha;}
        &:last-child , &:nth-child(3), &:nth-child(6), * { @include omega;}

        &.void_item  { 
                        visibility: hidden ;
                    border: none;
                    }
        div {
            height: $panels_height;
            @include background-clip(padding-box);
	    border: 10px solid transparentize($gris_claro, 0.6); 
            border: {
                radius: 10px;
            }
            background: transparentize($gris_claro, 0.6);
            width: 280px;
            margin: {top: 10px; bottom: 10px;}
            img, p {
                background-color: none;
                width: 100%;
                display: block;
            }
            img { }
        }
    }
    li.center_void {
            
    }
}
