/*
* depend_on shared/base
*/

@import "shared/base.css.scss";


body {
  background-image: $home_body_background_url;
  background-repeat: no-repeat;
  background-position: top center;
  
  #content {
      ul#home_panels {
        height: 200px;
        margin: {top: 400px; bottom: 50px; left: 30px; right: 30px;}
        li {
            height: 100%;
            border: {
                radius: 10px;
            }
            background: $gris_claro;
        img, p {
           border: {
                radius: 7px;
            }
           margin: 10px 10px;
           width: 260px;
          }
        }
        
      }
  }
}