%ul#header_nav.grid_8
  %nav
    %li.nav_tab.grid_2= link_to t("header.nav.home"), l_root_path
  %nav
    %li.nav_tab.grid_2= link_to t("header.nav.services"), l_root_path
  %nav
    %li.nav_tab.grid_2= link_to t("header.nav.events"), l_root_path
  %nav
    %li.nav_tab.grid_2.last= link_to t("header.nav.contact"), l_root_path

 