- content_for(:metadata) do 
  - ""

%ul#home_panels
  
  %li.grid_5
    %p= t("home.panels.presentation").html_safe
  %li.grid_5
    = image_tag "home/Igape.jpg"
  %li.grid_5
    = image_tag "home/Igape.jpg"