%h1= t "events.title"

- events_list =  ["dia_letras_galegas", "premios_galicia_comunicacion", "encuentro_audiovisual_galaico_latinoamericano", "jj_ii_cuentas_economicas", "congresos_ciudade_cultura"]

#events_container.big_panel
  %ul#events_list.left_panel
    - events_list.each do |event|
      =event_link event

  %events_details_container.right_panel
    - events_list.each do |event|
      =event_details_panel event