%h1= t "events.title"

- events_list =  ["atencion_auditorio_galicia", "congreso_farmacia_hospitalaria", "concierto_filarmonica", "galicia_ceo", "semana_verde", "sabor_aventura", "celebracion_convencion", "premios_tesoura", "cogami", "congreso_ibby", "xacobeo_2010", "servicio_aereo", "enfermedades_dixestivas", "orden_san_lazaro", "mulleres_cineastas", "galicia_premium", "roma_santiago", "lugares_cultura", "premio_maria"]

#events_container.big_panel
  %ul#events_list.left_panel
    - events_list.each do |event|
      =event_link event

  %events_details_container.right_panel
    .events_details_panel
      %h2= t("events.atencion_auditorio_galicia.name")
      %ul#gallery
        %li 
          %img{:src => image_path("events/imagen_corporativa.jpg")}
        %li 
          %img{:src => image_path("events/imagen_corporativa.jpg")}
        %li 
          %img{:src => image_path("events/imagen_corporativa.jpg")}
        %li 
          %img{:src => image_path("events/imagen_corporativa.jpg")}
        %li 
          %img{:src => image_path("events/imagen_corporativa.jpg")}
        