%h1= t "contact.title"

#contact_card
    =image_tag image_path("contact/qrcode.png"), :id => "qrcode"
    %h2 Heima Tours
    %p.address1 <span>#{t 'contact.address'}: </span>C/ Agro Do Medio, 16B
    %p.address2 15895 Milladoiro - Ames, A Coruña
    %p.tfns <span>#{t "contact.phone"}:</span> 881 979010 - <span>Fax:</span> 881 979060
    %p.email <span>Email:</span> #{mail_to t('contact.email')}
    