
$footer_height: 50px;

body #content_container #content {
    padding-bottom: $footer_height;    
}

#footer_container {
    position: relative;
    margin-top: -$footer_height; /* negative value of footer height */
    height: $footer_height;
    clear: both;
    margin-bottom: 0px;
    padding:0px;
    @include clearfix;
    background: $color_footer;
    footer {
        width: 100%;  
        height: $footer_height;
        @include clearfix;
        @include border-top-radius(5px);
            
        $ninesixty_columns: 12;
        @include grid_container;
        background-image: $footer_url;
        background-repeat: no-repeat;
        background-position: bottom left;
        
        p {
            margin-top: 16 px;
            float: left;
            color: white;
            font-size: 14px;
            a {color: orange;}
        }
        #page_authors {
            margin: { top: 10px; right: 10px;}
            float: right;
            a {color: white;}
        }
    }
}