
#header_container {
    @include clearfix;
    $nav_height:53px;
    $header_height: 100px;
    background: white;
    header {
        //height: $header_height;
        //position: relative;
        margin-top: -$nav_height; 
        /*  @include clearfix;*/
        @include clearfix;
        $ninesixty_columns: 16;
        @include grid_container;
        img#main_logo {
            position: relative;
            left: -15px;
            top:  10px;
            float: left;
            width: 300px;
            
        }
        
        
        
    }
    #nav_container{
        width: 100%;
        @include clearfix;
        
        /*            $from_color:transparentize($color_nav, 0.3);
        $to_color:$color_nav;
        @include background-image(linear-gradient($from_color, $to_color, $from_color));*/
        
        
        ul#header_nav {
            $nav_item_separation: 1px;
            @include inline_block_list_container;
            background-image: $header_url;
            background-repeat: no-repeat;
            background-position: top right;
            height: $nav_height;
            overflow: visible;
            /*        background: transparentize($gris_claro, 0.6);*/
            @include grid-container;
            text-align: center;
            li {
                
            }
            nav {
                @include inline_block_list_item($nav_item_separation);
                margin: {top: 8px;bottom: 2px;}
                float:right;
                width: 70px;
                &:first-child * { @include alpha;}
                &:last-child  { 
                    margin-right: 0px;
                }  
            }
            nav li {
                @include border-radius(5px);
                background: $verde;
                opacity: 1.0; 
                width: 100%;
                a {
                    color: white;
                }
                &:hover, &:hover a {
                    background: $gris_claro;
                    color: $verde; 
                    
                }
                
            }
        }
        ul#languages_bar {
            
        }
    }
}