

header {
    /*  @include clearfix;*/
    width: 100%;  
    height: 100px;
    background-image: $header_url;
    background-repeat: no-repeat;
    background-position: top right;
    img#main_logo {
        position: relative;
        left: 10px;
        top: -10px;
        float: left;
        width: 300px;
        
    }
    ul#header_nav {
        $nav_item_separation: 5px;
        @include inline_block_list_container;
        width: 340px;
        text-align: center;
        float: right;
        margin: {top: 5px;}
        nav {
           @include inline_block_list_item($nav_item_separation);
           width: 70px;
            
           &:first-child * { @include alpha;}
           &:last-child * { @include omega;}  
        }
        nav li {
            width: 100%;
            a {color: white;}
            &:hover, &:hover a {
                background: $gris_claro;
                color: $verde; 
            }
            
        }
    }
    
    ul#languages_bar {
    }
}